p {color: rgb(0, 65, 64);}

body {
    background-color: rgba(0, 167, 156, 0.653);
}

.wrapper {
border: 4px solid rgba(1, 121, 113, 0.653);
}

.container {
    border: 6px solid rgb(23, 85, 104);

    /* margin-top: 50px;
    margin-right: 150px;
    margin-bottom: 100px;
    margin-left: 100px; */
    margin: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}